extends common/layout 

block layout-content
    .container-fluid
        div.jumbotron.jumbotro-image.shadow(style="background-image: url(/img/record-store-925553_1280.jpg); height: 450px;")
    div.container
        div.row.pt-5
            h1.page-title New Music In Stock!
    div.container
        div.row
            each record in records
                div.col-lg-4.col-md-6.col-sm-12.pt-5
                    div.card(style="width: 18rem;")
                        img.card-img-top(src=record.art_src, alt="Album Cover for " + record.title + " by " + record.artist + ".")
                        div.card-header #{record.title}
                        div.card-body
                            h5.card-title #{record.artist}
                            h6.card-subtitle #{record.genre}
                            p.card-text #{record.released}
                        div.card-footer.text-center
                            form(action="/albums/view")
                                input(type="hidden", name="linkId", value=record._id)
                                button.btn.btn-primary(type="submit") View Details
        .row.pt-5
            h2.page-title New Products In Stock
        .row
            each product in products
                div.col-lg-4.col-md-6.col-sm-12.pt-5
                    div.card(style="width: 18rem;")
                        img.card-img-top(src=product.img_src, alt="Album Cover for " + product.name + ".")
                        div.card-header #{product.name}
                        div.card-body
                            h5.card-title #{product.category}
                            h6.card-subtitle #{product.price}
                        div.card-footer.text-center
                            form(action="/products/view")
                                input(type="hidden", name="linkId", value=product._id)
                                button.btn.btn-primary(type="submit") View Details